+++
title = "MLCommons Science Working Groups"
linkTitle = "WorkingGroup"

+++

{{< blocks/cover title="MLCommons Science Working Groups"
    image_anchor="top"
    height="full"
    color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Web Site to coordinate the creation of Science Benchmarks</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

  An introduction statement

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Science Benchmarks" %}}

    Description about the science benchmarks

{{% /blocks/feature %}}


{{% blocks/feature
    icon="fab fa-github"
    title="Contributions welcome!"
    url="https://github.com/laszewsk/mlcommons" %}}

We do a [Pull Request](https://github.com/laszewsk/mlcommons/pulls) contributions workflow on **GitHub**. New users are always welcome!

{{% /blocks/feature %}}

{{% blocks/feature
    icon="fab fa-twitter"
    title="Placeholder"
    color="white"
    url="https://github.com/laszewsk/mlcommons/" %}}
    
    This is just a placeholder
    
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **the benchmarks**" %}}
Get the benchmarks
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/laszewsk/mlcommons/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Placeholder" url="https://github.com/laszewsk/mlcommons" %}}
Placeholder
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
